$white: #fff;
$gray-lighter: #ccc;
$rakuten-red: #bf0000;
$gray-dark: #555;
$smaller-paging: 30px;
$normal-paging: 40px;

.pagination-wrapper {
  text-align: center;
  // no need on mall
  ul {
    padding: 0;
  }
}

.paginate-bar {
  background-color: $white;
  border: 1px solid $gray-lighter;
  cursor: pointer;
  display: inline-block;
  list-style-type: none;

  li {
    float: left;
    width: $normal-paging;
    line-height: $normal-paging;
    @media only screen and (max-width: 420px) {
      width: $smaller-paging;
      line-height: $smaller-paging;
    }

    &:hover:not(.is-disabled) {
      color: $rakuten-red;
    }

    & + li {
      border-left: 1px solid $gray-lighter;
    }
  }

  .paginate-arrow {
    color: $gray-dark;
  }

  .is-disabled, .is-active {
    cursor: default;
  }

  .is-active {
    color: $white;
    background-color: $gray-lighter;
  }
}