$white: #fff;
$gray-lighter: #ccc;
$rakuten-red: #bf0000;
$gray-dark: #555;
$paginate-hight: 38px;

.pagination-wrapper {
  text-align: center;
  // no need on mall
  ul {
    padding: 0;
  }
}

.paginate-bar {
  cursor: pointer;
  display: inline-block;
  list-style-type: none;

  li {
    margin: 2px;
    background-color: $white;
    border-radius: 3px;
    float: left;
    width: $paginate-hight;
    line-height: $paginate-hight;

    &:hover:not(.is-disabled) {
      background-color: $gray-lighter;
    }

    &.is-disabled {
      cursor: default;
      color: $gray-lighter;
    }

    &.is-active {
      color: $white;
      background-color: $rakuten-red;
    }
  }

  .paginate-arrow {
    color: $gray-dark;
  }
}