$white: #fff;
$gray-lighter: #ccc;
$rakuten-red: #bf0000;
$gray-dark: #555;
$paginate-hight: 38px;

.pagination-wrapper {
  text-align: center;
  // no need on mall
  ul {
    padding: 0;
  }
}

.paginate-bar {
  cursor: pointer;
  list-style-type: none;

  li {
    display: inline-block;

    button {
      margin: 2px;
      background-color: $white;
      border-radius: 3px;
      width: $paginate-hight;
      height: $paginate-hight;

      &:hover:not(.is-disabled) {
        background-color: $gray-lighter;
      }

      &.is-disabled {
        cursor: default;
        color: $gray-lighter;
      }

      &.is-active {
        color: $white;
        background-color: $rakuten-red;
      }
    }
  }

  .paginate-arrow {
    color: $gray-dark;
  }
}